
@import "prettify";
@import "css3";

//-------------------------
// $color_0: #444;
// $color_1: #fff;
// $color_2: #eee;
// $color_3: #ccc;
// $color_4: #00BA65;
// $color_5: #47b5e2;
$color_6: #999;
$color_7: #27637e;
$color_8: #222;
$color_9: #007eb2;
$color_10: #f5f5f5;


$color_0: #2c3134;
$color_1: #b3b3b3;
$color_2: #858585;
$color_3: #c5c5c5;
$color_4: #838485;
$color_5: #525658;

$white:         #fff;
$light-black:   #2c3134;
$dark-grey:     #5c656d;
$grey:          #555;
$light-grey:    #eee;
$light-grey2:   #838485;
$green:         #27ae61;
//--------------------------

%extend_3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
%extend_4 {
	font-family: "Ubuntu", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial;
	text-rendering: optimizelegibility;
	line-height: 2;
	color: $grey;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}
html {
	margin: 0;
	padding: 0;
}
input {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	@include box-sizing(border-box);
	@include transition(all linear 0.2s);
	/* (11) display was set before: old value: block - new value inline-block */;
	&:focus {
// 		border-color: $color_9;
		outline: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: 'Open Sans', 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial;
	font-weight: bold;
	text-rendering: optimizelegibility;
}
h1 {
	font-size: 25px;
}
h2, h3 {
  font-size: 22px;
  margin-left: 10px;
}
h3 {
  font-weight: normal;
}
h4, h5, h6 {
  font-weight: normal;
  font-size: 16px;
}

p {
  font-size: 15px;
  margin: 12px 0;
}

img {
  display: block;
	height: auto;
	max-width: 700px;
  margin: 0 auto;
}
iframe {
	max-width: 100%;
	max-height: 100%;
	border: 0 !important;
}
header {
	width: 100%;
	overflow: hidden;
	padding: 0 0 222px 0;
	text-align: center;
	color: $color_1;
	*zoom: 1;
	/* (7) padding was set before: old value: 2em 0 2em 0 - new value 4em 0 4em 0 */;
	h2 {
		margin: 0 0 1em 0;
		&.docs-header {
			margin: 0;
		}
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
    nav {
        background: none;
        position: relative;
        text-align: left;
        .topSearchBox {
            position: absolute;
            top: 90px;
            left: 50%;
            width: 1000px;
            margin-left: -500px;
            padding: 0;
        }
    }
}
.container {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
	/* (8) max-width was set before: old value: 650px - new value 1000px */;
}
strong {
	font-weight: 700;
}
dt {
	font-weight: 700;
}
hr {
	background: $color_2;
	border: 0;
	height: 1px;
	margin: 40px 0 40px;
}
blockquote {
	margin: 1em 0;
	border-left: 3px solid $color_3;
	padding-left: 20px;
	text-align: left;
}
dd {
	padding: 0;
	margin: 0 0 25px 0;
}
a {
	@include transition(all ease 150ms);
	text-decoration: none;
	color: $color_4;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: $color_5;
	}
}

footer.main-footer {
	padding: 20px 0;
	font-size: 13px;
	font-weight: 400;
	background: $color_0;
	.inner-container {
		max-width: 1290px;
		padding: 0 45px;
		margin: 0 auto;
		display: block;
		position: relative;
		@include box-sizing(border-box);
        nav {
            background: none;
            min-height: 85px;
        }
	}
	.block-container{
	    width: 860px;
	    margin: 0 auto;
	}
	.footer-block {
		@include box-sizing(border-box);
		display: block;
		a {
			color: $color_1;
			display: inline-block;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		h5 {
			margin: 0 0 6px;
			color: $color_2;
		}
	}
	cite {
		display: block;
		clear: both;
		margin: 30px 0;
        overflow: hidden;
	}
	address {
		clear: both;
		display: block;
		text-align: center;
    // Temporarily adding a margin to reduce border width
		//margin: 50px auto 0 auto;
		margin: 50px 40px 0;
		padding: 25px 0 0;
		font-size: 14px;
		color: $color_1;
		position: relative;
		font-style: normal;
		&:before {
			content: "";
            display: block;
            width: 80%;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(59,64,67,0) 0%,#3b4043 10%,#3b4043 90%,rgba(59,64,67,0) 100%);
            top: 0;
            left: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            transform: translateX(-50%);
		}
    // This should have a gradient background. Fix plz.
    // border-top: $dark-grey 1px solid;
	}
  .made-in {
    margin-top: 0;
    text-align: center;
  }
	.social-links {
		color: $color_4;
		display: block;
		text-align: center;
		margin: 5px 0 0;
		word-spacing: 5px;
		a {
			color: $color_4;
			font-size: 13px;
			font-weight: 400;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
	nav a {
		line-height: 22px;
		padding-right: 25px;
	}
}
#logo {
  color: $white;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: none;

  span.uni {
    color: darken($light-grey, 10%);
    font-weight: normal;
  }

  span.img {
    display: inline-block;
    background: url(https://koding.com/a/sprites/home@2x.sprite.png) 0px -280.5px;
    background-size: 138.5px 1055px;
    width: 16px;
    height: 17px;
    vertical-align: middle;
    margin-bottom: 4px;
  }

  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
}
nav {
    background: $dark-grey;
    min-height: 120px;

  #menu {
    float: right;

    a {
      color: $light-grey;
    }

    li {
      display: inline;
      margin-right: 20px;
    }
  }
	.container {
        padding-top: 20px;
    
        &:after {
          content: " ";
          display: table;
          clear: both;
        }
        .topSearchButton {
            float: right;
            cursor: pointer;
            padding: 5px 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 15px 0;
            .searchIcon {
                background-image: url(../img/sprite.png);
                background-position: -6px -2px;
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                display: block;
            }
        }
	}
	.topSearchBox {
        display: none;
        max-width: 1000px;
        padding: 0 0 20px 0;
        margin: 0 auto;
        position: relative;
    input {
      width: 100%;
      display: block;
      max-width: 100%;
      padding: 15px 10px;
      background: 0;
      border: 0;
      border-bottom: 1px solid $color_3;
      color: $color_1;
      font-size: 16px;
    }
	}
}
section {
	padding: 3em 0;
	text-align: left;
	background-color: $white;
	*zoom: 1;
	/* (9) padding was set before: old value: 1em 0 3em - new value 3em 0 */;
	/* (10) text-align was set before: old value: center - new value left */;
	&.vibrant {
		background: $color_8;
		color: $color_1;
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	&.centered {
		text-align: center;
	}
}
#left-nav {
	background-color: $white;
	list-style: none;
	margin: 0 50px 120px 20px;
	padding: 0;
	font-size: 15px;
  float: left;
  width: 240px;
	a {
		display: block;
		margin: 0 -20px;
		padding: 0 20px;
		text-decoration: none;
		border-right: 2px solid transparent;
		text-transform: capitalize;
	}
  h5 {
    line-height: 18px;
    a {
      color: $grey;
    }
  }
	.active {
		//background: $color_2;
		//border-right: 2px solid $color_3;
	}
  li {
    list-style: none;

    &.zactive {
      h5 {
        margin-left: -14px;
        padding-left: 10px;
        border-left: 4px $dark-grey solid;
      }
      li.zactive {
        background-color: $light-grey;
      }

    }

    ul {
      padding: 0;
      font-size: 14px;
    }
    h5 {
      font-size: 18px;
      font-weight: bold;
    }
    li {
      padding: 3px 0 3px 10px;
      line-height: 14px;
      margin-bottom: 4px;
    }
    li:hover {
      background-color: $light-grey;
    }
  }
}
#left-nav + .docs-content {
	padding-left: 310px;
	min-height: 500px;
	h1 {
	    color: $color_0;
	    float: none;
	}
}

//--------------------------
%extend_5 {
	margin-bottom: 50px;
}
%extend_6 {
	list-style-type: none;
    padding: 0;
    margin: 0;
}
%extend_7 {
    vertical-align: top;
}
%extend_8 {
    text-decoration: none;
    text-transform: capitalize;
    color: $color_0;
}
%extend_9 {
    position: absolute;
    right: 40%;
    top: 34%;
    font-size: 48px;
    color: $green;
    height: 40px;
    line-height: 42px;
    border: 2px $white solid;
    background-color: darken($green, 10%);
    @include border-radius(50px);
    @include transition(all ease 150ms);
}
%extend_10 {
    display: inline-block;
    padding: 10px 10px 30px 10px;
}
.main-icons {
    @extend %extend_5;
    padding-bottom: 50px;
    border-bottom: 1px solid $color_3;
    h1 {
        color: $color_0;
        font-weight: normal;
        text-transform: capitalize;
        text-align: center;
        float: none;
        margin: 50px 0;
    }
    .icons {
        display: inline-block;
        width: 33%;
        text-align: center;
        span {
            font-size: 5em;
            padding-bottom: 30px;
        }
        h2 {
            margin: 0;
            font-size: 1.7em;
        }
        p {
            width: 285px;
            margin: 0 auto;
        }
    }
}
.search-box {
    position: relative;
    margin-top: -90px;
    margin-bottom: 50px;
    text-align: center;
    #search {
        max-width: 80%;
        padding: 20px !important;
        @include border-radius(0);
    }
    #search-icon {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 14px;
        right: 120px;
        font-size: 28px;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
    }
}
.listing {
    @extend %extend_5;
    .latest-guides {
        @extend %extend_7;
        display: inline-block;
        width: 49%;
        margin-right: 1.3%;
        ul {
            @extend %extend_6;
            li {
                border-bottom: 1px solid $color_3;
                padding: 10px 10px 30px 10px;
                &:hover {
        			background: $color_2;
        		}
        		.title {
                    display: block;
                }
                a {
                    @extend %extend_8;
                }
                .meta {
                    font-style: italic;
                    font-size: 12px;
                    .author {
                        font-weight: bold;
                    }
                    .date {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .latest-videos {
        @extend %extend_7;
        display: inline-block;
        width: 49%;
        ul {
            @extend %extend_6;
            li {
                @extend %extend_10;
                width: 45%;
        		.title {
                    display: block;
                    text-align: center;
                    min-height: 75px;
                }
                a {
                    @extend %extend_8;
                    position: relative;
                    display: block;
                    overflow: hidden;
                    height: 125px;
                    border: 1px solid $color_0;
                }
                img {
                    width: 300px;
                    height: 170px;
                    margin-top: -22px;
                }
                .youtube-play {
                    @extend %extend_9;
                    &:hover {
                        color: $color_0;
                    }
                }
            }
        }
    }
    #page-videos {
        @extend %extend_7;
        h2 {
          color: $green;
          font-size: 26px;
          padding-left: 56px;
          margin-bottom: 50px;
 
           span {
            display: inline-block;
             background: url(/img/sprite.png) -2px -62px;
             background-size: 47px 100px;
             width: 44px;
             height: 36px;
             position: absolute;
             left: 20px;
             top: -2px;
           }
         }

        ul {
            @extend %extend_6;
            &:after {
              content: " ";
              display: table;
              clear: both;
            }
            li:nth-child(4n) {
              padding-right: 0;
            }
            li {
              display: inline-block;
              padding: 10px 40px 30px 0;
              width: 22%;
              height: 200px;
              float: left;

        		.title {
                    display: block;
                    min-height: 75px;
                    font-size: 15px;
                    margin-top: 8px;
                }
                a {
                    @extend %extend_8;
                    color: $grey;
                    position: relative;
                    display: block;
                    &:hover {
            			color: $color_4;
            		}
                }
                img {
                    width: 300px;
                    height: 169px;
                }
                .youtube-play {
                    @extend %extend_9;
                    &:hover {
                        color: $color_0;
                    }
                }
            }
        }
    }
}
.video {
    margin-bottom: 50px;
    a {
        @extend %extend_8;
        position: relative;
        display: block;
    }
    img {
        width: 460px;
        height: 340px;
        margin: 0 auto;
        display: block;
    }
    .youtube-play {
        top: 40%;
        right: 45%;
        @extend %extend_9;
        &:hover {
            color: $color_0;
        }
    }
}
#page-search {
  #search-results .result {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 13px;
    }
  }
  #search-results .result:last-child {
    padding: 0;
    margin: 0;
    border: none;
  }
}
#page-faq {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            border-bottom: 1px solid $color_3;
            padding: 10px 10px 30px 10px;
            @include transition(all ease 150ms);
            &:hover .readmore a {
                padding-left: 20px;
            }
    		.title {
                display: block;
            }
            a {
                text-decoration: none;
                text-transform: capitalize;
                color: $color_0;
                &:hover {
                    color: $color_4;
                }
            }
            .meta {
                font-style: italic;
                font-size: 12px;
                .author,
                .date {
                    font-weight: bold;
                }
            }
        }
    }
    .pagination {
        li {
            display: inline-block;
            margin: 10px;
            padding: 0;
            border: 0;
            cursor: pointer;
            a {
                padding: 5px;
            }
            .currentPage {
                background: $color_4;
                color: $color_1;
            }
        }
    }
    .excerpt {
        font-size: 16px;
        p {
            width: 85%;
            float: left;
        }
        .readmore {
            float: left;
            width: 8%;
            text-align: center;
            padding: 20px 0;
            margin-left: 7%;
            a {
                color: $color_4;
                font-size: 2em;
            }
        }
        overflow: hidden;
    }
    .question {
        &:before {
            float: left;
            margin-right: 20px;
            content: 'Q';
            color: $color_4;
            font-size: 50px;
            font-weight: normal;
        }
    }
    .answer {
        position: relative;
        padding-left: 60px;
        min-height: 100px;
        font-size: 16px;
        &:before {
            position: absolute;
            top: 0;
            left: 5px;
            content: 'A';
            color: $color_4;
            font-size: 50px;
            font-weight: normal;
            line-height: 60px;
        }
    }
}
#page-faq {
    ul {
        li {
            padding: 10px;
        }
    }
}

//
// ## Sane Section
// The following section is considered "sane". Above is converted
// CSS->SCSS, below is hand written.
//

body > header {
  color: $white;
  h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 32px;
  }
}

body > header h1,
body > nav h1 {
  float: left;
}

body > .page {
  padding-top: 60px;
}

.docs-content > h1:first-of-type {
  text-align: center;
  margin-bottom: 60px;
}

// ## Guides Page
#page-guides {
  > ul {
    padding: 0;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  > ul > li {
    float: left;
    display: inline-block;
    width: 49%;
    list-style: none;
  }
  > ul > li:first-child {
    padding-top: 0;
    > h3:first-child {
      margin-top: 0;
    }

  }
}


#page-category {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    margin-bottom: 12px;
  }
  li:last-child {
    margin-bottom: 0px;
  }
  .title {
    font-size: 16px;
    color: $light-black;
  }
  .meta {
    line-height: 18px;
    font-size: 14px;
    font-style: italic;
    color: $light-grey2;
  }
}

#page-category .title {
  margin: 0;
  color: $light-black;
  a { color: inherit }
}



.fancy-youtube-highlight {
  //margin: 100px auto 60px;
  // Experimenting with the video overlapping header
  margin: -360px auto 60px;

  .video-shadow {
    margin: 80px 54px 70px;
    height: 300px;
    background-color: darken($light-grey, 10%);
    border-radius: 10px;
  }

  .main {
    position: relative;
    top: -50px;
    margin: 0 auto;
    width: 700px;
    height: 390px;
    border-radius: 10px;
    background-color: $light-black;

    .youtube-mini {
      border: none;
      height: 100%;

      img {
        margin-top: 0;
        height: 100%;
        width: 100%;
      }

      .youtube-play {
        top: 40%;
        right: 44%;
        font-size: 94px;
        height: 80px;
        line-height: 82px;
      }
    }

    .title {
      display: block;
      padding: 16px 10px 10px;
      color: $white;
      font-size: 16px;
      text-align: center;

      a {
        border-bottom: none;
        color: inherit;
      }
    }
  } 

  ul {
    width: 700px;
    margin: 0 auto;
    padding: 0;

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  li {
    list-style: none;
    width: 22%;
    margin-left: 4%;
    float: left;
  }
  li:first-child {
    margin-left: 0;
  }
  li .youtube-mini {
    height: 86px;
  }
  li .title {
    display: block;
    color: lighten($grey, 5%);
    font-size: 13px;
    line-height: 20px;
    vertical-align: top;
    text-align: center;
  }
}

a.youtube-mini {
  position: relative;
  display: block;
  overflow: hidden;
  height: 125px;
  border: 1px solid $dark-grey;
  border-radius: 6px;

  img {
    width: 300px;
    height: 170px;
    margin-top: -22px;
  }

 .youtube-play {
    top: 25%;
    right: 35%;
    @extend %extend_9;
    &:hover {
        color: $color_0;
    }
   // This rule lost the battle to %extend_9, so for now i'm just editing
   // extend_9 manually, until we refactor the wtf-ness.
  }
}

.content-previews {
  margin-top: 60px;
  padding: 0;

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
.content-previews li {
  float: left;
  width: 47%;
  height: 200px;
  font-size: 16px;
  padding: 10px;
  list-style: none;
}
.content-preview {
  a {
    border-bottom: 1px $grey solid;
  }
  a:hover {
    text-decoration: none;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    margin-top: 0;
  }
}
.content-preview.custom {
  text-align: center;
  h4 {
    font-size: 26px;
    font-weight: normal;
  }
  p {
    font-size: 16px;
  }
}


.series-nav {
  padding: 0 20px;
  li {
    width: 120px;
    list-style: none;
    text-align: center;
    color: #000;
    background-color: $light-grey;
    border-radius: 4px;
  }
  a {
    display: block;
  }
  a:hover {
  }
  &:after {
		content: " ";
		display: table;
		clear: both;
  }
}
// ORDER IS IMPORTANT
// If there is only one child, it is set to float right first, and then left.
// which is what we want.
.series-nav li:last-child {
  float: right;
}
.series-nav li:first-child {
  float: left;
}


.koding-linkback {
  margin-top: 160px;
  text-align: center;

  li {
    display: inline-block;
    width: 180px;
    padding: 2px;
    margin-right: 9px;
    list-style: none;

    border-radius: 4px;
    text-transform: uppercase;

    color: $white;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;

    a, a:hover {
      display: block;
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      color: $light-grey;
      background-color: $dark-grey;
      border-radius: 2px;
    }
  }

  li:last-child {
    margin-right: 0;
  }
}

.koding-linkback .signup {
  background-color: $green;
}
.koding-linkback .signin {
  background-color: $white;
  color: $green;
  padding: 0;
  &:hover a {
    border-color: $dark-grey;
  }
  a {
    border: 2px $green solid;
    border-radius: 4px;
  }
}
.koding-linkback .discuss {
  color: $dark-grey;
  background-color: $light-grey;
}


.guides-intro {
  margin-bottom: 60px;

  h1, p {
    text-align: center;
  }
  h1 {
    margin-bottom: 0px;
  }
  h2 {
    margin-left: 0;
    font-weight: normal;
  }
  p {
    margin-top: 0;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
  &:after {
		content: " ";
		display: table;
		clear: both;
  }
}
.guides-intro .favorites,
.guides-intro .recent {
  margin: 60px 5%;
  width: 40%
}
.guides-intro .favorites {
  float: left;
}
.guides-intro .recent {
  float: right;
}
.guides-intro .tags {
  text-align: center;
  li {
    display: inline-block;
    margin-right: 6px;
    text-transform: capitalize;
    &:after {
      content: ","
    }
  }
  li:last-child {
    margin-right: 0;
    &:after {
      content: ""
    }
  }
}


// ## TAGLIST
.tag-list {
  padding: 6px;
  font-size: 14px;

  ul {
    padding: 0;
  }
  li {
    line-height: 16px;
    list-style: none;
    margin-bottom: 10px;
  }
  li:last-child {
    margin-bottom: 0;
  }
}
.tag-list .tag-name {
  margin: 0;
  font-size: 15px;
  font-weight: bold;

  &:before {
    content: "#";
  }
}
.tag-list .view-all {
  font-size: 12px;
  margin-top: 6px;
}

//--------------------------

@media only screen and (min-width: 400px) { }
@media only screen and (min-width: 600px) { }
@media only screen and (min-width: 680px) { }
@media only screen and (min-width: 960px) { }
