
@import "prettify";
@import "css3";

//-------------------------
$color_0: #444;
$color_1: #fff;
$color_2: #eee;
$color_3: #ccc;
$color_4: #00BA65;
$color_5: #47b5e2;
$color_6: #999;
$color_7: #27637e;
$color_8: #222;
$color_9: #007eb2;
$color_10: #f5f5f5;
//--------------------------

%extend_1 {
	font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 18px;
}
%extend_2 {
	margin: 10px 0;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}
%extend_3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
%extend_4 {
	font-family: "Ubuntu", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
	@extend %extend_1;
	line-height: 2;
	color: $color_0;
	background: $color_1;
}
html {
	margin: 0;
	padding: 0;
}
input {
	@extend %extend_1;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	@include box-sizing(border-box);
	@include transition(all linear 0.2s);
	/* (11) display was set before: old value: block - new value inline-block */;
	&:focus {
// 		border-color: $color_9;
		outline: 0;
	}
}
h1 {
	@extend %extend_1;
	@extend %extend_2;
	line-height: 40px;
	margin: 0;
	padding: 0;
	float: left;
	color: $color_1;
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
	padding-top: 10px;
	margin-right: 30px;
}
h2 {
	@extend %extend_1;
	@extend %extend_2;
	line-height: 1.2;
	font-size: 50px;
	/* (1) line-height was set before: old value: 40px - new value 1.2 */;
}
h3 {
	@extend %extend_1;
	font-weight: 700;
	@extend %extend_2;
	line-height: 40px;
	font-size: 24.5px;
}
h4 {
	@extend %extend_1;
	font-weight: 700;
	@extend %extend_2;
	font-size: 17.5px;
}
h5 {
	@extend %extend_1;
	@extend %extend_2;
	font-size: 14px;
}
h6 {
	@extend %extend_1;
	@extend %extend_2;
	font-size: 11.9px;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	max-width: 100%;
	max-height: 100%;
	border: 0 !important;
}
header {
	width: 100%;
	overflow: hidden;
	padding: 4em 0 4em 0;
	text-align: center;
	background: $color_4;
	color: $color_1;
	*zoom: 1;
	/* (7) padding was set before: old value: 2em 0 2em 0 - new value 4em 0 4em 0 */;
	h2 {
		margin: 0 0 1em 0;
		&.docs-header {
			margin: 0;
		}
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}
.container {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
	/* (8) max-width was set before: old value: 650px - new value 1000px */;
}
strong {
	font-weight: 700;
}
dt {
	font-weight: 700;
}
hr {
	background: $color_2;
	border: 0;
	height: 1px;
	margin: 40px 0 40px;
}
blockquote {
	margin: 1em 0;
	border-left: 3px solid $color_3;
	padding-left: 20px;
	text-align: left;
}
dd {
	padding: 0;
	margin: 0 0 25px 0;
}
a {
	@include transition(all ease 150ms);
	text-decoration: none;
	color: $color_4;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		color: $color_5;
	}
}
footer {
	text-align: center;
	padding: 1.5em 0;
	p {
		margin: 0;
		color: $color_6;
	}
}
#logo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60px;
    padding-left: 70px;
    padding-top: 0;
    line-height: 60px;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -2px;
    cursor: pointer;
    @extend %extend_4;
}
nav {
	background: $color_0;
	padding: 10px 0;
	min-height: 60px;
	*zoom: 1;
	ul {
		@extend %extend_3;
		&.toplinks {
			padding: 0;
			float: left;
			clear: none;
			/* (4) padding was set before: old value: 20px 0 0 0 - new value 0 */;
			li {
				margin: 0 0 0 10px;
			}
		}
	}
	li {
		@extend %extend_3;
		float: left;
	}
	a {
		padding: 0 1em;
		color: $color_2;
		font-size: .9em;
		height: 60px;
		line-height: 60px;
		display: block;
		background: $color_0;
		float: left;
		&:hover {
			background: $color_4;
			text-decoration: none;
		}
		&:active {
			background: $color_7;
			color: $color_1;
			cursor: default;
		}
	}
	#menu {
		overflow: hidden;
		max-height: 9999px;
		clear: none;
		/* (5) max-height was set before: old value: 0 - new value 9999px */;
		/* (6) clear was set before: old value: left - new value none */;
	}
	#menu-toggle {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 1.5em;
		padding: 0 16px;
		display: none !important;
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	h1 a {
		padding: 7px 1em;
		height: 46px;
		line-height: 0;
		/* (2) height was set before: old value: 46px - new value 45px */;
		/* (3) line-height was set before: old value: 0 - new value 45px */;
	}
}
section {
	padding: 3em 0;
	text-align: left;
	*zoom: 1;
	/* (9) padding was set before: old value: 1em 0 3em - new value 3em 0 */;
	/* (10) text-align was set before: old value: center - new value left */;
	&.vibrant {
		background: $color_8;
		color: $color_1;
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	&.centered {
		text-align: center;
	}
}
.docs-nav {
	background-color: $color_10;
	list-style: none;
	margin: 0 0 0 20px;
	padding: 15px 20px;
	font-size: 0.97em;
	a {
		display: block;
		margin: 0 -20px;
		padding: 0 20px;
		text-decoration: none;
		border-right: 2px solid transparent;
		&:hover {
			background: $color_2;
		}
		&:active {
			background: $color_2;
			border-right: 2px solid $color_3;
		}
	}
	&.fixed {
		position: fixed;
		top: 49px;
		width: 220px;
	}
	.active {
		background: $color_2;
		border-right: 2px solid $color_3;
	}
	.separator {
		height: 20px;
	}
}
.docs-nav + .docs-content {
	padding-left: 310px;
	min-height: 500px;
	h1 {
	    color: $color_0;
	    float: none;
	}
}

//--------------------------
.main-icons {
    margin-bottom: 100px;
    .icons {
        display: inline-block;
        width: 33%;
        text-align: center;
        span {
            font-size: 5em;
            padding-bottom: 30px;
        }
        h2 {
            margin: 0;
        }
        p {
            width: 205px;
            margin: 0 auto;
        }
    }
}
.search-box {
    position: relative;
    margin-bottom: 100px;
    #search {
        max-width: 100%;
        padding: 20px;
    }
    #search-icon {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 14px;
        right: 35px;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        cursor: pointer;
    }
}
.latest-content,
.listing {
    margin-bottom: 100px;
    .latest-guides,
    .latest-videos,
    #page-videos {
        display: inline-block;
        width: 49%;
        vertical-align: top;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                border-bottom: 1px solid $color_3;
                padding: 10px 10px 30px 10px;
                &:hover {
        			background: $color_2;
        		}
        		.title {
                    display: block;
                }
                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $color_0;
                }
                .meta {
                    font-style: italic;
                    font-size: 12px;
                    .author,
                    .date {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .latest-guides {
        margin-right: 1.3%;
    }
    .latest-videos,
    #page-videos {
        ul {
            li {
                border: 0;
                display: inline-block;
                width: 45%;
                &:hover {
        			background: none;
        		}
                .title {
                    text-align: center;
                }
                a {
                    position: relative;
                    display: block;
                }
                img {
                    width: 300px;
                    height: 169px;
                }
                .youtube-play {
                    position: absolute;
                    right: 35%;
                    top: 25%;
                    font-size: 4em;
                    color: $color_4;
                    @include transition(all ease 150ms);
                    &:hover {
                        color: $color_0;
                    }
                }
            }
        }
    }
}
#page-faq,
#page-guides {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            border-bottom: 1px solid $color_3;
            padding: 10px 10px 30px 10px;
            &:hover {
    			background: $color_2;
    		}
    		.title {
                display: block;
            }
            a {
                text-decoration: none;
                text-transform: capitalize;
                color: $color_0;
            }
            .meta {
                font-style: italic;
                font-size: 12px;
                .author,
                .date {
                    font-weight: bold;
                }
            }
        }
    }
}
#page-faq {
    ul {
        li {
            padding: 10px;
        }
    }
}
//--------------------------

@media only screen and (min-width: 400px) { }
@media only screen and (min-width: 600px) { }
@media only screen and (min-width: 680px) {
    nav {
    	height: 60px !important;
    	#menu {
    		height: 60px !important;
    		max-height: 9999px;
    		clear: none;
    	}
    	li {
    		float: left;
    	}
    	a {
    		float: left;
    	}
    	#menu-toggle {
    		display: none !important;
    	}
    	ul.toplinks {
    		float: left;
    		padding: 0;
    		clear: none;
    		li {
    			margin: 0 0 0 10px;
    		}
    	}
    }
}
@media only screen and (min-width: 960px) {
    .docs-nav {
    	position: absolute;
    	top: 0;
    	width: 220px;
    	@include transition(top linear 50ms);
    	&.fixed {
    		position: fixed;
    		top: 49px;
    		width: 220px;
    	}
    	a {
    		&:hover {
    			background: $color_2;
    		}
    		&:active {
    			background: $color_2;
    			border-right: 2px solid $color_3;
    		}
    	}
    	.active {
    		background: $color_2;
    		border-right: 2px solid $color_3;
    	}
    	.separator {
    		height: 20px;
    	}
    }
    .docs-nav + .docs-content {
    	padding-left: 310px;
    }
    header {
    	padding: 4em 0 4em 0;
    }
    .container {
    	max-width: 1000px;
    	padding: 0 20px;
    }
    section {
    	padding: 3em 0;
    	text-align: left;
    	&.centered {
    		text-align: center;
    	}
    }
    input {
    	display: inline-block;
    }
}